<%- include("../layout", { body: `
<h1>Create Account</h1>

<form action="/register" method="POST" class="form-card">
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button class="btn submit-btn">Register</button>
</form>
` }) %>
